
 <div class=" text-center" id="fourthHero">
        <h1 class="display-5 fw-bold">Upcoming Events</h1>
        <div class="col-lg-6 mx-auto" >
          <h4 class=" mb-4">Join us for these special events and be part of our community in action.</h4>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div class="card-group">
                <div class="card  mb-5">
                 <img src="imgs/vbs2025.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    
                    <p class="card-text"><small class="text-danger">July 13th-16th 6:00PM - 8:00PM</small></p>
                    <h5 class="card-title">SCUBA VBS</h5>
                    <p class="card-text">Come join us for vbs. Have lots of fun and learn the glory of jesus.</p>
                  </div>
                </div>
                <div class="card  mb-5">
                  <img src="imgs/augbbq2025.png" class="card-img-top" alt="..." height="210">
                  <div class="card-body">
                    <p class="card-text"><small class="text-danger">August 2nd 4:00PM-7:00PM</small></p>
                    <h5 class="card-title">Hamburger and Ice Cream Supper</h5>
                    <p class="card-text">Come join us for some faith and fellowship.</p>

                  </div>
                </div>
                <div class="card mb-5">
                  <img src="imgs/alex-perri-bmM_IdLd1SA-unsplash.jpg" class="card-img-top" alt="..." height="210">-
                  <div class="card-body">
                    <p class="card-text"><small class="text-danger">April 11-12</small></p>
                    <h5 class="card-title">Palm Sunday</h5>
                    <p class="card-text">We will have communion in the morning service. Also will be taking up offering for church addition</p>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  