<div class="text-center py-4" id="thirdHero">
<h1 class="display-6 fw-bold">Join Us in Worship</h1>
<div class="mt-3 mb-3">
  <a href="{{ '/new/' | relative_url }}" class="btn btn-outline-nature btn-sm me-2">Plan Your Visit</a>
  <a href="{{ '/livestream/' | relative_url }}" class="btn btn-outline-nature-reverse btn-sm">Watch Online</a>
</div>
        <div class="col-lg-6 mx-auto" >
          <!--<h4 class=" mb-4">We offer multiple services throughout the week to accommodate different schedules and worship preferences.</h4>-->
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div class="card-group">
                <div class="card text-center">
                  <!--<img src="..." class="card-img-top" alt="...">-->
                  <div class="card-body">
                    <h4><i class="bi bi-calendar icon-gold"style="color:#2e7d32;"></i></h4>
                    <h5 class="card-title fw-bold">Sunday Services</h5>
                    <ul class="list-group list-group-flush ">
                      <li class="list-group-item"><i class="bi bi-clock text-danger"></i> 09:30AM <br>Sunday Morning Worship</li>
                      <li class="list-group-item"><i class="bi bi-clock text-danger"></i> 10:30AM<br> Sunday School</li>  
                    </ul>
                  </div>
                </div>
                <div class="card">
                  <!--<img src="..." class="card-img-top" alt="...">-->
                  <div class="card-body">
                    <h4><i class="bi bi-geo-alt-fill icon-gold"style="color:#2e7d32;"></i></h4>
                    <h5 class="card-title fw-bold">Location</h5>
                     <p class="card-text "><a href="https://www.google.com/maps?q=5270 Chuckey Pike, Chuckey, TN 37641" target="_blank">5270 Chuckey Pike <br>Chuckey, TN 37641</a></p>
                  </div>
                </div>
                <div class="card">
                  <!--<img src="..." class="card-img-top" alt="...">-->
                  <div class="card-body">
                    <h4><i class="bi bi-people-fill icon-gold"style="color:#2e7d32;"></i></h4>
                    <h5 class="card-title fw-bold">Weekday Activities</h5>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item"><i class="bi bi-clock text-danger"></i> Wed 6:30PM <br>Adult Bible Study <br>Kids 4 Truth</li>
                      </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
       
    </div>